selector {

property: value;

}

body {

font-family: Arial, sans-serif;

color: #333333;

background-color: #e8ebeb;

margin: 0;

padding: 0;

line-height: 1.6;

}

header {

background-color: #0b5c61;

color: white;

padding: 40px 20px;

text-align: center;

}


header h1 {

margin-bottom: 10px;

}


nav a {

color: white;

text-decoration: underline;

margin: 0 10px;
font-weight: bold;
}


nav a:hover {

text-decoration: underline;

}

main {

padding: 10px;

max-width: 800px;

margin: 0 auto;

}


main img {

max-width: 100%;

height: auto;

display: block;

margin: 20px 0;

}

footer {

background-color: #fdfbfb;

color: white;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

}

p {

font-size: 1.1em;

}


a {

color: #4CAF50;

text-decoration: none;

}


a:hover {

text-decoration: underline;

}

img {

border: 5px solid #efeeee;

border-radius: 10px;

}

main a[href^="mailto:"] {

color: #ff5722;

font-weight: bold;

}
.image-row {
    display: flex;
    justify-content: center;
    gap: 20px; /* space between images */
    flex-wrap: wrap; /* makes it responsive on small screens */
}
shop{
    text align:center;
    padding:40px;
}

.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding:20px;
}

.product{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow: 0 4px 10px rgba(0,0,0,1);
}

product img{
    width:100%;
    border-radius: 10px;
}

button{
    backgroun:#00bcd4;
    color:white;
    border:none;
    padding: 10px;
    margin-top:10px;
    cursor: pointer;

}
.products{
    padding:40px;
    text-align:center;
}

.product{
    background:white;
    padding:20px;
    margin:auto;
    width:250px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.product img{
    width:100%;
}

button{
    background:#111;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:20px;
    background:#111;
    color:white;
    margin-top:40px;
}